<app-menu></app-menu>

<h1>List of Students</h1>

<div>
  <span id="btn"> <button [ngClass]="btnStyle" (click)="getStudents()">Load students</button></span>
  &ngsp; <span id="btn"><button (click)="changeColor()">Change color</button></span>
</div>

<table class="table table-sm">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Color</th>
  </tr>
  <tr *ngFor="let student of students" [hidden]="student.favcolor == 'blue'">
    <td>{{student.name}}</td>
    <td>{{student.favnum}}</td>
    <td>{{student.favcolor}}</td>
  </tr>
</table>